Dashboard
- if current_user
  %div= "user email: #{current_user.email_address}"
  .organizations-headline Organizations
  .organizations
    - current_user.organizations.each do |organization|
      = render :partial => "organizations/summary", :locals => {:organization => organization}
  .tasks-headline Tasks
  .tasks
    - current_user.assigned_tasks.in_priority_order.each do |task|
      = render :partial => "tasks/summary", :locals => {:task => task}
- else
  %div no current user
